<div class="app-card-container">
  <div class="card">

    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "Myprofile.jpg", width: 300, alt: "Profile Picture" %>
      </div>

      <div class="col-md-8">
        <p>Starting at University of Southern Indiana I learned elements of design and experienced firsthand the many challenges and merits of traditional fine art, digital art, and printing. Seeking to have a better technological perspective on design I moved to Indiana University where I earned a degree in Informatics with a cognate in graphic design and a minor in information technology. </p>
        <p>At Indiana University I closed the gap between design and technology by taking on projects that required use of both in order to be successful. Collaborating with other people to solve problems I have gained a keen eye for creating efficient human computer interaction and strong knowledge of technologic implications</p>
        <p>Striving to come up with creative, simple, and effective designs is what I do best. I enjoy database oriented design and am experienced in using XML to drive the content of visual solutions.</p>
        <p>This website contains many of the visual solutions I have created for projects; this includes Interactive design, animations, illustrations, and some 3d renderings.</p>
      </div>
    </div>
  </div>
</div>
