<<<<<<< HEAD
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
=======
<h1>Homepage</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= @posts.inspect %>
>>>>>>> 569d12dda6d478994d0ff7291b335f3fd1268849
